{{define "footer_extra"}}
| <a href="https://docs.google.com/document/d/e/2PACX-1vTuPck1guLW4IJzmktioifZ1VyEbCTYCiMyWe-5NPdIAq3pr61kAmpSc6gMciquemKIicw31-0UdCfR/pub"> Design Doc </a> | <a href="https://github.com/Symantec/keymaster"> Source Code </a>  
{{end}}
